@import "tailwindcss";

@theme {
  --color-primary: #E53935;
  --color-secondary: #FFFFFF;
  --color-accent: #111827;
}

body {
  @apply bg-accent text-secondary min-h-screen;
  font-family: 'Noto Sans Bengali', 'Noto Sans JP', sans-serif;
}
